.App {
    display: flex;
    align-items: flex-start;
}
table {
    table-layout: auto;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

input,
input:focus {
    text-align: center;
    border: none;
    width: 98%;
    outline: none;
}
.action,
input[type='button'] {
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}
input[type='button']:not([disabled]):hover {
    color: blue;
}
#users-table {
    width: 370px;
    margin-right: 8px;
}
#users-table td {
    cursor: pointer;
}
#hobbies-table {
    flex-grow: 1;
}
.active-user {
    border: 2px solid blue;
}
@media (max-width: 890px) {
    .App {
        align-items: center;
        flex-direction: column;
    }
    #users-table,
    #hobbies-table {
        margin: 8px;
        width: 90vw;
    }
}
